.col-md-4 img {
  width: 100%;
}

body > .container {
  padding-top: 60px;
}

@media (max-width: 981px) {

  .row {
    padding: 20px 0px;
    border-top: 1px solid gray;
  }

  .col-md-4 .img-responsive {
    width: 75%;
    margin: 0 auto;
  }

}
