.col-md-4 img {
  width: 100%;
}

body > .container {
  padding-top: 60px;
}

.row {
  padding-bottom: 10px;
}

.logo {
  color: green;
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  font-family: sans-serif;
}
